project:
  type: website
  output-dir: docs

website:
  description: "My very first blogging website"
  site-url: "https://nicolehua34.github.io/blog"
  title: "Nicole's Blog :)"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
    left:
      - text: "Home"
        file: index.qmd
      - text: "About"
        file: about.qmd
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



